.About {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  color: #222121;
}

.About h2 {
  margin-top: 90px;
  color: #385170;
  font-weight: bold;
  font-size: 50px;
}
.About .row-presentation {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  min-height: 300px;
  background: #ececec;
  box-shadow: 4px 5px 5px rgba(83, 51, 23, 0.2);
  border-radius: 15px;
  margin: 30px 20px 30px 20px;
  padding: 10px;
}

.About .text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  margin: 0 20px;
  box-sizing: border-box;
}
.About .text p {
  padding: 10px;
}
.row-presentation img {
  border-radius: 15px;
}

.About h3 {
  font-weight: bold;
  text-align: center;
  color: #385170;
}

.About ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.About i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #9fd3c7;
}

.About .row-skills {
  margin: 30px 10px 30px 10px;
}
.About .skills {
  background: #ececec;
  box-shadow: 4px 5px 5px rgba(83, 51, 23, 0.2);
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
  .About h2 {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .row-presentation img {
    height: 220px;
  }
  .About .row-presentation {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
