body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #533317;
  background: #e3bc9a;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
